@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

#content {
  background-color: tomato;
  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
  text-align: center;
}

h1 {
  color: white;
}

.drop {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: fixed;
  top: -50px;
  transform: rotate(-90deg); /* best for image */
  animation: down ease-out;
}

@keyframes down {
  to {
    top: calc(100vh - 10px);
    transform: rotate(90deg); /* best for image */
  }
}
